html, body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #EEEEEE;
  height: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;

  outline: 0;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.alert {
  padding: 5px;
  border-radius: 2px;
  background-color: lighten(#ff0000, 40%);
}

nav {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);

  display: flex;
  padding-right: 20px;

  .left, .right {

    > div {
      display: inline-block;
    }
  }

  a, button {
    color: white;
    text-decoration: none;
    padding: 10px 2px;
  }

  .item {
    vertical-align: top;
    transition: background-color 0.2s ease;

    height: 62px;
    opacity: .9;
    font-size: 16px;

    button {
      border: 0px;
      background-color: transparent;
      -webkit-appearance: none;
      font-size: 1em;
      margin: 0px;

      cursor: pointer;
    }

    a {
      display: inline-block;
    }

    i.fa {
      display: block;
      font-size: 1.5em;
    }

    &:not(.title) {
      text-align: center;
      margin-top: 7px;
    }
  }

  .item:hover {
    opacity: 1;
  }

  .title {
    font-size: 2em;
    opacity: 0.9;

    flex: 1;

    a {
      padding: 10px;
    }
  }

  .title:hover {
    opacity: 1;
  }
}

.newgroup {
  max-width: 50em;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;

  h1 {
    margin: 0 0 5px 0;
  }

  label {
    display: block;
    font-size: 1.2em;

    margin-bottom: 3px;
  }

  form > input, form > textarea {
    margin-bottom: 15px;
    width: 100%;
    font-size: 1.1em;
    padding: 10px;

    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
  }

  .Select {
    margin-bottom: 15px;

    .Select-control {
      border: 1px solid rgba(0, 0, 0, 0.8);
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  button, a {
    color: white;
    text-align: center;
    text-decoration: none;

    padding: 10px;
    border: 0px;
    border-radius: 2px;
    margin: 2px;

    cursor: pointer;

    font-size: 1.1em;

    display: inline-block;
    width: 140px;
    height: 45px;
    vertical-align: top;
  }

  button[type="submit"] {
    background-color: rgba(50,205,50, 0.8);
  }

  .cancel {
    background-color: rgba(178,34,34, 0.8);
  }

}

.groups {
  width: 100%;
  min-width: 200px;
  max-width: 50em;
  margin: 0 auto;
  position: relative;

  h1 {
    color: rgba(255,255,255,0.9);
  }

  h1:hover {
    color: white;
  }

  h1, a {
    text-decoration: none;
  }

  .titlebar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    a {
      text-decoration: none;
    }
  }

  .item, #groupplus {
    color: rgba(255,255,255,0.9);
    text-align: center;
    text-decoration: none;

    font-size: 1.2em;

    .text {
      font-size: 0.6em;
      margin-top: -7px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      margin-bottom: 10px;
      word-break: break-word;
    }

    a {
      padding: 20px;
      display: block;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);

      transition: background-color 0.2s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }

      .name {
        font-size: 1.2em;
        font-weight: bold;
      }

      .members {
        font-size: 0.8em;
        margin: 3px 0;
      }
    }
  }
}

h1 {
  margin: 5px;
  color: rgba(0, 0, 0, 0.8);
}

.viewgroup {
  margin: 0 20px;
  position: relative;
  word-break: break-word;

  h4 {
    margin: 0px;
    font-weight: 400;
  }

  .top {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;

    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  button {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);

    padding: 5px;
    border: 0px;
    border-radius: 2px;
    margin: 2px;

    cursor: pointer;

    font-size: .9em;

    display: inline-block;
    width: 90px;
  }
  h1 {
    margin: 0;
    padding: 0;
  }

  .titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cancel {
    background-color: rgba(178,34,34, 0.8);
    width: auto;
  }
}

.newpost {
  max-width: 50em;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;

  h1 {
    margin: 0 0 5px 0;
  }

  label {
    display: block;
    font-size: 1.2em;

    margin-bottom: 3px;
  }

  form > input, form > textarea {
    margin-bottom: 15px;
    width: 100%;
    font-size: 1.1em;
    padding: 10px;

    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
  }

  .Select {
    margin-bottom: 15px;

    .Select-control {
      border: 1px solid rgba(0, 0, 0, 0.8);
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  button, a {
    color: white;
    text-align: center;
    text-decoration: none;

    padding: 10px;
    border: 0px;
    border-radius: 2px;
    margin: 2px;

    cursor: pointer;

    font-size: 1.1em;

    display: inline-block;
    width: 140px;
    height: 45px;
    vertical-align: top;
  }

  button[type="submit"] {
    background-color: rgba(50,205,50, 0.8);
  }

  .cancel {
    background-color: rgba(178,34,34, 0.8);
  }
}

.viewpost {
  margin: 0 20px;
  position: relative;
  word-break: break-word;

  .wrapper, .chatwindow {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
  }

  .chatwindow {
    margin-top: 10px;
  }

  .postheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .postcontent {
    margin: 15px 0;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  h2 {
    margin: 0;
    padding: 0;
    color:black;
  }

  h3,h4 {
    margin: 0;
    padding: 0;
    color:black;
    font-weight: normal;
  }

  label {
    display: block;
    font-size: 1.2em;

    margin-bottom: 3px;
  }

  form > input, form > textarea {
    margin-bottom: 5px;
    width: 100%;
    max-width: 100%;
    font-size: 1.1em;
    padding: 10px;

    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
  }

  button, a {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);

    padding: 5px;
    border: 0px;
    border-radius: 2px;
    margin: 2px;

    cursor: pointer;

    font-size: .9em;

    display: inline-block;
    width: 90px;
  }

  button[type="submit"] {
    background-color: rgba(50,205,50, 0.8);
  }

  .cancel {
    background-color: rgba(178,34,34, 0.8);
  }

  .chat {
    max-height: 300px;
    overflow-y: auto;

    .message {
      padding: 25px 10px 10px 10px;
      position: relative;

      background-color: rgba(255, 255, 255, 0.8);

      &:nth-child(2n) {
        background-color: rgba(255, 255, 255, 0.3);
      }

      .poster {
        position: absolute;
        left: 10px;
        top: 6px;
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: bold;
      }
    }

    input {
      margin: 0px;
      border: 0px;
      border-top: 1px solid black;
      border-radius: 0px;
    }
  }

}

.posts {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  position: relative;
  word-break: break-word;

  h1 {
    color: rgba(255,255,255,0.9);
  }

  h1:hover {
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  h1, a {
    text-decoration: none;
  }

  .titlebar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    a {
      text-decoration: none;
    }

  }

  .item, #plus {
    color: rgba(255,255,255,0.9);
    text-align: center;
    text-decoration: none;

    font-size: 1.2em;

    .text {
      font-size: 0.6em;
      margin-top: -7px;
    }
  }
}

.post {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.72);

  padding: 20px;

  border-radius: 2px;
  margin-bottom: 10px;

  transition: background-color 0.2s ease;

  .title {
    font-weight: bold;
    font-size: 1.1em;
  }

  .date {
    font-size: 0.8em;
  }

  .responders {
    margin-bottom: 5px;
  }

  li {
    position: relative;
  }

  .groupNames {
    word-break: word-break;
  }
}

.home {
  display: flex;
  padding: 0 20px 40px 20px;
  position: relative;

  .posts {
    flex: 3;
    margin-right: 20px;
  }

  .groups {
    flex: 1;
  }
}

.post:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-image: url(http://www.writingfordesigners.com/wp-content/uploads/2015/09/geometric_background_13.jpg);
  background-size: cover;
}

.item .text {
  color: white;
  margin: 0;
  opacity: 0;
  font-size: 0.8em;

  transition: opacity 0.2s ease;
}

.item:hover .text {
  opacity: 1;
}

.content {
  max-width: 50em;
  margin: 0 auto;
  padding: 20px;
  position: relative;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);

  img {
    filter: invert(90%);
    max-width: 400px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
  }
}

input, textarea, select {
  background-color: rgba(255, 255, 255, 0.8);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(169,169,169);
}
